@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
}

/* Initially set the submenu to be hidden */
.submenu {
  display: none;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
}

/* Show the submenu when the parent list item is hovered */
.nav-item:hover .submenu {
  display: block;
}

.glass {
  background: rgba( 7, 28, 41, 0.5 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
